<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87869933192-3i3c08728tlvrjqrt6n4onep55ulj6qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87869933192-3i3c08728tlvrjqrt6n4onep55ulj6qu</string>
	<key>API_KEY</key>
	<string>AIzaSyA5HlIBfcb8qdbYqznaWTykuGicC8PRIIA</string>
	<key>GCM_SENDER_ID</key>
	<string>87869933192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NWC.NightLive</string>
	<key>PROJECT_ID</key>
	<string>tonight-2081c</string>
	<key>STORAGE_BUCKET</key>
	<string>tonight-2081c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87869933192:ios:3d718c4459c6758b57013d</string>
</dict>
</plist>